*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../imgs/a_mountain_with_snow_on_it.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* white fog */
    backdrop-filter: blur(8px); /* adds blur */
    z-index: 1; 
}

.main > * {
    position: relative;
    z-index: 2;
}

.navigations{
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0.6);
}


.navbar{
    width: 1400px;
    height: 75px;
    margin: auto;
    padding: 10px 0;
}

.icon{  
    width: 200px;
    height: 70px;
}

.logo{
    color: #ffff;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 15px;
    float: left;
}

.menu{
    width: 400px;
    height: 50px;
    position: absolute;
    top: 10;
    right: 300px;
}

ul{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

ul li a:hover{
    color: rgb(4, 164, 218);
}

.search{
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.srch{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px, solid;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.btn{
    width: 100px;
    height: 30px;
    background: rgb(4, 164, 218);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px;
    margin-top: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:hover{
    background: #fff;
    color: rgb(4, 164, 218);
    transition: 0.3s;
}

.btn:focus, .srch:focus{
    outline: none;
}   

.srch:focus{
    outline: none;
}

.bio{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 252px;
    left: 498px;
    transform: translate(-50%,-50%);
    text-align: left;
    color: #fff;
}

.bio h2{
    font-size: 30px;
    padding-top: 20px;
}

.bio p{
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.joinUs{
    width: auto;
    height: 70px;
    background: rgb(4, 164, 218);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
   
}

.joinUs a{
    text-decoration: none;
    color: #fff;
    font-size:18px;
    font-weight: bold;
}

.joinUs:hover{
    background:  transparent;
    color: rgb(4, 164, 218);
    transition: 0.3s;
}

.form{
    width: 300px;
    height: 230px;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(-50%,-50%);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    position:absolute;
    top:260px;
    left: 1185px;
}

.form h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.form input{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}   

.form .btn2{
    width: 100%;
    height: 40px;
    background: rgb(4, 164, 218);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.btn2:hover{
    background: #fff;
    color: rgb(4, 164, 218);
    transition: 0.3s;
}

/* About Section */

.about{
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}